/** Dark Mode **/
body {
  background: #111;
  color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}
input,
button,
select,
textarea,
.textarea {
  background: #333;
  color: #777;
  border-color: #222;
  outline: none;
}
input,
textarea {
  background: #444;
  color: #888;
}
input:disabled,
input:read-only,
button:disabled {
  background: #222;
  color: #444;
}
input:active,
input:focus,
button:not(:disabled):active,
button:focus {
  background-color: #555;
  border-color: #ddd;
  color: #bbb;
}
a {
  color: #2a96f3;
}
a:visited {
  color: #2a96f3;
}
a:hover,
a:focus {
  outline: none;
  color: #7cb342;
}

.publish-date {
  color: #222;
}
